extends layout/index

block link
  - var page = 'events'

block main
  .container-fluid
    .row
      .col-md-12(style="text-align: center;")
        .index-col(style="max-width:700px;margin:auto;margin-top:18px;text-align:left;")
          :markdown
            # Events
            
            ## Annual Mother's Day Birdwalk
            
            Participants meet outside the front gate: 7:30 am
            The full walk includes a stop for refreshments and ends about noon, 
            but participants may choose to depart the group at any time.
              
            ## Robinson State Park Day

            Plans are in the Works to 
            Celebrate Robinson State Park Day Saturday, June 18, 2016

            In case you didn't know, the Town of Agawam has
            proclaimed the third Saturday of every June as Robinson
            State Park day. This event is celebrated in the park with
            a wide range of activities.
            
            Click [here](docs/rsp-day-2015) to download last year's flyer!
            
          :markdown
            If you have any questions, please email them to
            [robinsonfriends@comcast.net](mailto:robinsonfriends@comcast.net).
            
            **Please note that severe weather or heavy rain will lead
            to the event being cancelled.**
