extends layout/index

block link
  - var page = 'events'

block main
  .container-fluid
    .row
      .col-md-12(style="text-align: center;")
        .index-col(style="max-width:700px;margin:auto;margin-top:18px;text-align:left;")
          :markdown
            # Events
          
          ## Annual Mother's Day Birdwalk
            
            Sunday May 8, 2016 
            Guided by The Allen Bird Club's John Hutchison. 
            Participants meet on Colemore Street across from the main gate (located on North St): 7:30 am
            The full walk includes a stop for refreshments and ends about noon, 
            but participants may choose to depart the group at any time.
          
  .container-fluid
    .row
      .col-md-12(style="text-align: center;")
        .index-col(style="max-width:700px;margin:auto;margin-top:18px;text-align:left;")
          :markdown
          
         ## Robinson State Park Day

            Plans are in the Works to 
            Celebrate Robinson State Park Day Saturday, June 18, 2016
            
            Matt Largess (TWIG) will lead “Big Tree Hikes” which will be short 
            walks in the area of the Pavilion to point out various tree species 
            and also to discuss recovery in the area of the tornado damage.

            Dave Conley will lead individuals or groups to places in the park 
            of interest to them. Short or long walks to places such as certified 
            vernal pools, the waterfall, CCC camp remains, or other places of interest.
            
            Rod Parlee of Bolton Ct. will lead, teach and facilitate rapid stream assessment.
            If you are interested in participating (taking samples from streams and studying 
            them to define water purity) please let us know at:  robinsonfriends@comcast.net.
            
            Gini Traub, DCR interpreter, will guide The “What’s in the Water” program, ongoing from 9 am to 2 pm:
            'Open House'  to visit the amazing variety of tiny bugs and other little critters make their home 
            in Robinson Pond.  Using buckets and magnifiers, we will take a look to discover what they are, how they 
            move, and how they breathe.  For children accompanied by adult. Please wear clothing suitable for muddy exploration." 


            In case you didn't know, the Town of Agawam has
            proclaimed the third Saturday of every June as Robinson
            State Park day. This event is celebrated in the park with
            a wide range of activities.
            
            Click [here](docs/rsp-day-2015) to download last year's flyer!
            
            If you have any questions, please email them to
            [robinsonfriends@comcast.net](mailto:robinsonfriends@comcast.net).
            
            **Please note that severe weather or heavy rain will lead
            to the event being cancelled.**
