extends layout/index

block link
  - var page = 'events'

block main
  .container-fluid
    .row
      .col-md-12(style="text-align: center;")
        .index-col(style="max-width:700px;margin:auto;margin-top:18px;text-align:left;")
          :markdown
            # Events
            
            ## Annual Mother's Day Birdwalk
            
            Sunday May 8, 2016 
            Guided by The Allen Bird Club's John Hutchison. 
            Participants meet on Colemore Street across from the font gate: 7:30 am
            The full walk includes a stop for refreshments and ends about noon, 
            but participants may choose to depart the group at any time.
            
  .container-fluid
    .row
      .col-md-12(style="text-align: center;")
        .index-col(style="max-width:700px;margin:auto;margin-top:18px;text-align:left;")
          :markdown
            ## Robinson State Park Day

            Plans are in the Works to 
            Celebrate Robinson State Park Day Saturday, June 18, 2016
            IMPORTANT NOTE re PARKING $$: There's an $8 parking fee ($10 for out-of-state cars). 
            Parking passes can be borrowed for FREE at many Massachusetts public libraries. Or you can purchase passes
            at any Massachusetts State Park, visit Mass.gov for more information in regard to discounted passes. 
            
            8:30 AM - Bird Walk: Meet at the Park Pavilion as the day begins with a bird identification 
            walk led by John Hutchison of the Allen Bird Club. Participants should bring 
            binoculars if possible.The walk is appropriate for both experienced birders 
            and those who wish to learn the sights and sounds of the great variety of birds
            that visit Robinson State Park or make it their home.
            
            9:00 AM - Rapid Stream Assessment: Rod Parlee of Bolton CT will lead a rapid stream assessment.
            Get Your Hands Wet while taking samples from several streams in Robinson, document their findings and
            assess how healthy each stream is. if interested you can let us know at: robinsonfriends@comcast.net.
            
            9:00 Am - Tree Bus:  The Tree Bus will be at the Pavilion again this year. Don’t miss this highly
            educational van, packed with information about our majestic trees.  This is a “hands on program with 
            displays about how much our trees grow, dating a tree, petrified wood and much much more.”    
            http://www.scatteredseeds.info/
            
            9:30 to 11:30 - Origami: Agawam Public School's Art Teacher Sharon Vasicek - Learn to make origami under the cover of 
            the Pavillion. You'll be instructed how to make origami frogs in celebration of Robinson Park Day. 
            Participants can even "race" their origami frogs!
            
            9:30 AM - Guided Walk: Wilbraham Hiking Club -  A mostly easy hike through a beautiful forest! We’ll use the white-
            blazed trail to circumnavigate a two-mile loop (and, for those who are interested, a four-mile loop) around the center
            of the park, noting a large number of landmarks, historical markers and natural features that the park offers.
            There are some minor elevation changes. A good hike for new hikers or people looking to get back on the trails -- as well as for 
            more seasoned hikers who enjoy beautiful scenery and good company. We'll do a two-mile loop, and then, for those who are
            interested, a second two-mile loop. The PACE is Moderate. The TERRAIN is varied. Mostly packed dirt, some tree roots; 
            some sandy soil. GEAR should include Bug spray/tick protection; sun block.
            Carpool 8:45 a.m. at Dave's Soda & Pet Food City, 151 Springfield St., Agawam; OR meet at 9:30 a.m. at Trestle Pavilion, 
            Robinson State Park (428 North St., Feeding Hills). 
            
            Big Tree Walk: Matt Largess (TWIG) will lead “Big Tree Hikes” which will be short 
            walks in the area of the Pavilion to point out various tree species 
            and also to discuss recovery in the area of the tornado damage.

            Walks by Request: Dave Conley will lead individuals or groups to places in the park 
            of interest to them. Short or long walks to places such as certified 
            vernal pools, the waterfall, CCC camp remains, or other places of interest.
            
            Explore the Pond: Gini Traub, DCR interpreter, will host the “What’s in the Water” program.  Geared towards children, this 
            ongoing from 9 am to 2 pm: 'Open House'  to visit the amazing variety of tiny bugs and other little critters make their home 
            in Robinson Pond.  Using buckets and magnifiers, we will take a look to discover what they are, how they 
            move, and how they breathe.  For children accompanied by adult. Please wear clothing suitable for muddy exploration." 
            
            Canoe Cruise: Westfield River Watershed Association -To help us celebrate, the annual Westfield River Canoe Cruise
            has been scheduled for Robinson Park Day!  Registration begins in Westfield at the Great River Bridges 10 – 11 am. 
            It’s a treat to see all the kayaks and canoes land at Robinson State Park mid afternoon! To read more about
            the 6-7 mile cruise from Westfield to Robinson State Park, please see:  
            http://www.westfieldriver.org/events.html  


            In case you didn't know, the Town of Agawam has
            proclaimed the third Saturday of every June as Robinson
            State Park day. This event is celebrated in the park with
            a wide range of activities.
            
            Click [here](docs/rsp-day-2015) to download last year's flyer!
            
            If you have any questions, please email them to
            [robinsonfriends@comcast.net](mailto:robinsonfriends@comcast.net).
            
            **Please note that severe weather or heavy rain will lead
            to the event being cancelled.**
